  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .form-signin .center{
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  .form-signin .button {
    background-color: #75C892;
  }
  
  .form-registration input {
    border-radius : 0;
    margin-bottom: 10px;
  }
  .form-registration select {
    border-radius : 0;
    margin-bottom: 10px;
  }
  .form-registration .button {
    background-color: #75C892;
  }

/*Home*/

.landing {
  background-image: url(../img/Cover3.png);
  height: 935px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center Top;
}
.landing h1 {
  margin-top: 200px;
  color: white;
}

.fitur h2{
  text-align: center;
}


/*Footer*/
footer {
  margin-top: 100px;
  color: white !important;
  font-weight: lighter;
}